DATABASE_URL= postgresql://postgres.yfpmxshcyortxxvfjkrv:DXYC3o44p2eECwod@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
NODE_ENV=development
PORT=3000
JWT_ACCESS_SECRET=dev_access_secret_change_in_production
JWT_REFRESH_SECRET=dev_refresh_secret_change_in_production
BCRYPT_SALT_ROUNDS=12
CORS_ORIGIN=https://kmy-todolist-fe.vercel.app
